// Button
// ======

.btn {
  @extend .btn.__m, .btn.__blue;
  display: inline-block;
  overflow: visible;
  margin: 0;
  outline: none;
  border: 0;
  border-radius: 2px;
  background-color: none;
  color: #FFF;
  vertical-align: top;
  text-decoration: none;
  white-space: nowrap;
  font-size: 11px;
  line-height: 13px;
  cursor: pointer;
  transition: all 100ms;
  zoom: 1;

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default !important;
    pointer-events: none;
  }

  // Modifiers
  // ---------

  // ### Sizes

  &.__m {
    padding: 6px 16px 7px 16px;
  }

  &.__l {
    padding: 9px 16px;
  }

  &.__xl {
    padding: 12px 24px;
  }

  // ### Colours

  &.__white {
    border: 1px solid darken(#cfd9e9, 1%);
    background-color: #cfd9e9;
    color: #444;

    &.__active,
    &:active:not(:disabled) {
      border: 1px solid darken(#c3d3e7, 1%);
      background-color: #c3d3e7;
    }
  }

  &.__blue {
    background-color: lighten($color-primary, 9.2%);

    &.__active,
    &:active:not(:disabled) {
      background-color: $color-primary;
    }
  }

  // ### Misc.

  &.__block {
    display: block;
    width: 100%;
  }
}
