// Button
// ======

.btn {
  @extend .btn.__m, .btn.__white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  user-select: none;
  transition: all 100ms;

  &:focus {
    outline: 0;
  }

  &:disabled {
    cursor: default !important;
    opacity: 0.6;
    pointer-events: none;
  }

  // Modifiers
  // ---------

  // ### Sizes

  &.__m {
    @include font-height(13px, 16px);
    padding: 7px 12px;
    padding-bottom: 6px;
  }

  &.__l {
    @include font-height(16px, normal);
    padding: 9px 16px;
  }

  &.__xl {
    @include font-height(18px, 22px);
    padding: 12px 24px;
  }

  // ### Colours

  &.__white {
    background: #cfd9e9;
    border: 1px solid darken(#cfd9e9, 1%);
    color: #444;

    &.__active,
    &:active:not(:disabled) {
      background: #c3d3e7;
      border: 1px solid darken(#c3d3e7, 1%);
    }
  }

  &.__blue {
    background: lighten($color-primary, 5%);
    border: 1px solid darken($color-primary, 7%);
    color: white;
    text-shadow: 0 1px 2px black;

    &.__active,
    &:active:not(:disabled) {
      background: $color-primary;
      border: 1px solid darken($color-primary, 2%);
    }
  }

  // ### Misc.

  &.__block {
    display: block;
    width: 100%;
  }
}
