// Button stack
// ============

.btn-stack {

  > .btn {
    position: relative;

    &:not(:first-child) {
      margin-top: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    @extend .btn.__block;
  }
}
