// Modal
// =====

.modal {
  @include position(fixed, 0);
  -webkit-overflow-scrolling: touch;
  display: none;
  outline: 0;
  overflow-y: scroll;
  z-index: 1050;

  &_dialog {
    margin: 10px;
    position: relative;
    width: auto;
  }

  &_inner {
    background-clip: padding-box;
    background-color: white;
    border: 1px solid rgba(black, .2);
    box-shadow: 0 2px 10px rgba(#000, 0.35);
    outline: 0;
    position: relative;
  }
}

.modal-backdrop {
  @include position(fixed, 0);
  background-color: black;
  z-index: 1040;

  &.fade {
    opacity: 0;
  }

  &.in {
    opacity: 0.7;
  }
}

.modal-body {
  padding: 20px 20px 25px 20px;
}

.modal-title {
  padding: 0;
  margin: 0;
  font-size: 1.09em;
}

.modal-header {
  padding: 17px 20px 18px;
  color: white;
  background: lighten($color-primary, 4%);
  font-weight: bold;
  @include font-smoothing(on);
}

.modal-footer {
  text-align: center;
  padding: 15px;
  background: #eaecef;
}

.modal-open {
  overflow: hidden;
}

@media (min-width: 768px) {

  .modal_dialog {
    width: 600px;
    margin: 30px auto;

    &.__s {
      width: 400px;
    }
  }

  .modal_inner {
    box-shadow: 0 2px 10px rgba(#000, 0.35);
  }

}

@media (min-width: 992px) {

  .modal_dialog.__l {
    width: 900px;
  }
}
