// Modal
// =====

.modal {
  @include position(fixed, 0);
  -webkit-overflow-scrolling: touch;
  display: none;
  outline: 0;
  overflow-y: scroll;
  z-index: 1050;

  &_dialog {
    margin: 10px;
    position: relative;
    width: auto;
  }

  &_inner {
    background-clip: padding-box;
    background-color: white;
    border: 1px solid rgba(black, .2);
    box-shadow: 0 2px 5px rgba(black, .5);
    outline: 0;
    position: relative;
  }
}

.modal-backdrop {
  @include position(fixed, 0);
  background-color: black;
  z-index: 1040;

  &.fade {
    opacity: 0;
  }

  &.in {
    opacity: 0.6;
  }
}

.modal-body {
  padding: 25px 15px;
}

.modal-title {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.modal-header {
  padding: 19px 15px;
  color: white;
  background: lighten($color-primary, 4%);
  text-shadow: 0 1px 2px black;
}

.modal-footer {
  padding: 15px;
  background: #eaecef;
}

.modal-open {
  overflow: hidden;
}

@media (min-width: 768px) {

  .modal_dialog {
    width: 600px;
    margin: 30px auto;

    &.__s {
      width: 300px;
    }
  }

  .modal_inner {
    box-shadow: 0 5px 15px rgba(#000, 0.5);
  }

}

@media (min-width: 992px) {

  .modal_dialog.__l {
    width: 900px;
  }
}
