
// Textbox
// =======

.txbox {
  @extend .txbox.__m, .txbox.__white;
  border-style: solid;
  border-width: 1px;
  cursor: text;
  display: block;
  transition: 0.33s opacity;
  width: 100%;

  &.__invalid:not(:focus) {
    color: $color-red;
  }

  // Modifiers
  // ---------

  // ### Sizes

  &.__m {
    padding: 6px 6px 6px;
  }

  // ### Colours

  &.__white {
    background: #FFF;
    border-color: desaturate(lighten($color-primary, 35%), 15%);
  }

  // ### Misc
  &.__inline {
    display: inline;
    width: auto;
  }
}

//
// 1. Remove default arrow on WebKit
// 2. Remove default arrow in Firefox
// 3. Remove default arrow in IE 10/11
//

select.txbox {
  background: inline-asset('base/textbox/arrows.svg') no-repeat 100% 50%;
  cursor: default;
  border-radius: 3px;
  -webkit-appearance: none; // 1
  text-indent: 0.01px; // 2
  text-overflow: ''; // 2

  &::-ms-expand {
    display: none; // 3
  }
}

textarea.txbox {
  resize: none;
}
