<div class="modal-header">
  <span class="modal-title">{{ team._id ? 'Edit' : 'Add' }} team</span>
</div>
<div class="modal-body">
  <form class="form" name="AddEditTeamForm">
    <div class="section_l">
      <label class="form_label" for="first_name">Name</label>
      <input type="text" class="txbox" id="first_name" ng-model="team.name" required focus>
    </div>

    <div class="section_l">
      <label class="form_label">Members</label>
      <select style="width: 100%" required ui-select2 multiple ng-model="team.members">
        <option value=""></option>
        <option ng-repeat="user in allUsers" value="{{ user._id }}">{{ user.fullName }}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" ng-disabled="AddEditTeamForm.$invalid" ng-click="saveTeam()">{{ team._id ? 'Edit' : 'Add' }} team</button>
</div>