<div class="team">
  <div class="section grid">
    <div class="4" ng-repeat="team in teams">
      <div class="team-card" ng-click="openAddEditTeamModal(team)">
        <div class="team-card_header">
          {{ team.name }}
        </div>

        <div class="team-card_body">
          Last retrospective: Yesterday
          <br/>
          Member: {{ team.members.length }}
        </div>

        <div class="team-card_footer">
          <img class="team-card_footer_img" src="http://lorempixel.com/32/32/people/?1">
          <img class="team-card_footer_img" src="http://lorempixel.com/32/32/people/?2">
          <img class="team-card_footer_img" src="http://lorempixel.com/100/100/people/?3">
          <img class="team-card_footer_img" src="http://lorempixel.com/32/32/people/?4">
          <img class="team-card_footer_img" src="http://lorempixel.com/32/32/people/?1">
          <img class="team-card_footer_img" src="http://lorempixel.com/32/32/people/?2">
          <img class="team-card_footer_img" src="http://lorempixel.com/100/100/people/?3">
          <img class="team-card_footer_img" src="http://lorempixel.com/32/32/people/?4">
          &nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="section text-center">
    <button class="btn" ng-click="openAddEditTeamModal()">Add team</button>
  </div>
</div>