<div class="team">
  <div class="section grid">
    <div class="4" ng-repeat="team in teams track by $index">
      <div class="team-card" ng-click="openAddEditTeamModal(team)">
        <div class="team-card_header">
          {{ team.name }}
        </div>

        <div class="team-card_body">
          Last retrospective: Yesterday
          <br/>
          Member: {{ team.members.length }}
        </div>

        <div class="team-card_footer">
          <ng-gravatar class="team-card_footer_img"
                       ng-repeat="member in team.members track by $index"
                       email="{{ member.email }}"
                       title="{{ member.fullName }}"
                       size="32"></ng-gravatar>
          &nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="section text-center">
    <button class="btn" ng-click="openAddEditTeamModal()">Add team</button>
  </div>
</div>