{
  "environment": "development",
  "db": "mongodb://localhost/retrospector-prod",
  "baseUrl": "http://retrospector.dev/",
  "mail": {
    "type": "SMTP",
    "settings": {
      "service": "Gmail",
      "auth": {
        "user": "gmail.user@gmail.com",
        "pass": "userpass"
      }
    },
    "reply_address":"no-reply@localhost.localdomain"
  },
  "port": 3000,
  "idleTimer": 60000,
  "debug": true
}
