// Footer
// ======

.footer {
  border-radius: 2px;
  width: 760px;
  margin: 0 auto;
  background: $color-second;
  color: #707070;
  padding: 20px;
  text-align: center;

  a, a:visited {
    color: #707070;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a + a {
    margin-left: 15px;
  }
}
