// Footer
// ======

.footer {
  color: #7d7d7d;
  padding-bottom: $layout-gutter * 2;
  text-align: center;

  a, a:visited {
    color: #707070;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a + a {
    margin-left: 15px;
  }
}
