// Header
// ======

.header {
  @include font-smoothing(on);
  background: $color-primary;
  padding: 0 10px;
  height: 41px;
  font-weight: bold;
  color: #E8EFF7;

  &_wrap {
    width: 760px;
    margin: 0 auto;
  }

  &_menu {
    list-style: none;
    padding: 0;
    margin: 0;

    &_i {
      float: left;
      list-style: none;

      &_a {
        color: #E8EFF7;
        cursor: pointer;
        text-decoration: none;
        display: block;
        padding: 13px 10px;
        transition: background 100ms;

        &.__header-logo {
          padding-top: 12px;
          padding-bottom: 10px;
        }

        &:hover {
          background-color: lighten($color-primary, 6%);
        }
      }
    }
  }

  &_search {
    border-radius: 3px;
    background: darken($color-primary, 7%) url("http://www.iconsdb.com/icons/preview/caribbean-blue/search-2-xxl.png") no-repeat center right 8px;
    background-size: auto 15px;
    border: none;
    height: 30px;
    padding-right: 30px;
    padding-left: 8px;
    width: 180px;
    outline: none;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
}
