// Logotype
// ========

.logo {
  $orig-height: 30px;
  $orig-width: 207px;
  @extend .logo.__m;
  background-image: inline-asset('project/logo/black-logo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    padding-top: 100% * ($orig-height / $orig-width);
  }

  // Modifiers
  // ---------

  &.__s {
    width: 124px;
  }

  &.__m {
    width: 206px;
  }

  &.__white {
    background-image: inline-asset('project/logo/white-logo.png');
  }
}
