.retrospective_participants {
  margin-bottom: 25px;
}

.retrospective_participants_i {
  border-radius: 50%;
  cursor: pointer;
  transition: all 150ms;

  & + & {
    margin-left: 10px;
  }

  &.__idle {
    box-shadow: none;
    opacity: .35;
    filter: blur(2px);

    &:hover {
      opacity: .6;
      filter: blur(0);
    }
  }
}

.retrospective_block {
  margin: 0 auto;
  max-width: 760px;
  text-align: left;
  transition: all 300ms;

  &_header {
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 19px;
    font-family: Georgia;
  }

  &_footer {
    margin-top: 15px;
    text-align: center;
  }

  &_list {
    margin: 0;
    padding: 0;
    list-style: none;

    &_i {
      height: 26px;
      cursor: pointer;

      &_avatar {
        width: 24px;
        opacity: 0;
        transition: opacity 1000ms;

        img {
          border-radius: 50%;
        }
      }

      &_like-section {
        position: relative;
        padding-top: 3px;
        padding-left: 14px !important;
        width: 25px;
        font-weight: bold;

        &:after {
          position: absolute;
          top: 2px;
          right: 0;
          width: 16px;
          height: 16px;
          background: url('https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/512/like.png') no-repeat center center;
          background-size: 16px 16px;
          content: '';
          opacity: 0;
          transition: opacity 150ms;
        }
      }

      &:hover &_like-section:after,
      &:hover &_avatar {
        opacity: 1;
      }

      &_text {
        padding-top: 3px;
      }

      &_add-new {
        width: 99%;
        border: none;
        background: transparent;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &.__compressed {
    //    color: #aaa;

    .retrospective_block_header {
      margin-top: 15px;
      margin-bottom: 5px;
      padding-left: 45px;
      text-align: left;
    }

    .retrospective_block_list_i + .retrospective_block_list_i {
      margin-top: -10px;
      //      TODO fix and turn on animation
      //      animation: compress 300ms;
    }

    .retrospective_block_list_i_text {
      display: block;
      overflow: hidden;
      width: 682px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .retrospective_block_list_i_avatar img {
      filter: grayscale(70%);
    }
  }

  &.__next {
    color: #aaa;
    cursor: pointer;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
    transition-property: transform, color, padding;

    &:hover {
      padding-bottom: 3px;
      color: #777;
      transform: translate(0, -3px);
    }
  }
}

@keyframes pulsate {
  0% {
    background: #444;
  }
  40% {
    background: #444;
  }
  50% {
    background: transparent;
  }
  90% {
    background: transparent;
  }
}

@keyframes compress {
  0% {
    margin-top: 2px;
  }
  100% {
    margin-top: -15px;
  }
}