.retrospectives {
  margin: (-($layout-gutter * 2)) (-$layout-gutter) (-($layout-gutter * 3));

  &_search {
    background: #f6f6f6;
    padding: 10px;
    border-bottom: 1px solid desaturate(lighten($color-primary, 43%), 10%);

    &_empty {
      padding: 50px 0px;
      text-align: center;
      margin: 10px 0;
      color: #777;
      font-size: 1.18em;
    }
  }

  &_i {
    color: $color-primary;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 10px;

    &:hover {
      background: #f8f8f8;
    }

    &.__active {
      background: desaturate(lighten($color-primary, 51%), 5%);

      &:hover {
        background: desaturate(lighten($color-primary, 48%), 5%);
      }
    }

    &_img {
      max-height: 24px;
      border-radius: 2px;
      
      & + & {
        margin-left: 3px;
      }

      &.__idle {
        opacity: .4;
      }
    }

    & + & {
      border-top: 1px solid desaturate(lighten($color-primary, 47%), 10%);
    }
  }
}