.team {
  
  &-card {
    transition: background 100ms;
    background: lighten($color-primary, 7%);
    color: white;
    border-radius: 3px;
    cursor: pointer;

    &_header {
      font-weight: bold;
      padding: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_body {
      padding: 10px;
      padding-top: 0;
    }

    &_footer {
      @extend .cf;
      padding: 5px 8px;
      background: $color-second;
      color: black;
      overflow-x: scroll;
      white-space: nowrap;

      &_img {
        max-height: 32px;
        border-radius: 2px;
      }
    }

    & + & {
      margin-left: 15px;
    }

    &:hover {
      background: $color-primary;
    }

    &.__add-team {
      @include size(45px);
      text-align: center;
      font-size: 26px;
      padding: 5px 0;
    }
  }

  .grid .#{escape-css(4)}:nth-child(1n + 4) {
    margin-top: $layout-gutter;
  }
}