<div class="retrospectives">
  <div class="retrospectives_search cf" ng-show="retrospectives.length">
    <input class="txbox __inline" style="width: 400px" ng-model="filterQuery" placeholder="Start typing a name">
    <button class="btn float-right" ng-click="openStartNewRetrospectiveModal()">Start new retrospective</button>
  </div>

  <div ng-show="retrospectives.length && !(retrospectives | filter:{ name: filterQuery }).length" class="retrospectives_search_empty">
    No retrospectives found
  </div>

  <div ng-show="retrospectives.length">
    <a class="retrospectives_i"
       ng-class="{ __active: !!retrospective.active }"
       ui-sref="retrospectives.view({ id: retrospective._id })"
       ng-repeat="retrospective in retrospectives | filter:{ name: filterQuery }">
      <span class="section">{{ retrospective.name }}</span>

      <div class="section">
        <img class="retrospectives_i_img" src="http://lorempixel.com/32/32/people/?1">
        <img class="retrospectives_i_img" src="http://lorempixel.com/32/32/people/?2">
        <img class="retrospectives_i_img" src="http://lorempixel.com/100/100/people/?3">
        <img class="retrospectives_i_img" src="http://lorempixel.com/32/32/people/?4">
        <img class="retrospectives_i_img" src="http://lorempixel.com/32/32/people/?1">
        <img class="retrospectives_i_img" src="http://lorempixel.com/32/32/people/?2">
        <img class="retrospectives_i_img" src="http://lorempixel.com/100/100/people/?3">
        <img class="retrospectives_i_img" src="http://lorempixel.com/32/32/people/?4">
      </div>
    </a>
  </div>

  <div class="text-center padding-bottom-m padding-top-m" ng-show="!retrospectives.length">
    <button class="btn" ng-click="openStartNewRetrospectiveModal()">Start new retrospective</button>
  </div>
</div>