<div class="retrospectives">
  <div class="retrospectives_search cf" ng-show="retrospectives.length">
    <input class="txbox __inline" style="width: 400px" ng-model="filterQuery" placeholder="Start typing a name">
    <button class="btn float-right" ng-click="openStartNewRetrospectiveModal()">Start new retrospective</button>
  </div>

  <div ng-show="retrospectives.length && !(retrospectives | filter:{ name: filterQuery }).length" class="retrospectives_search_empty">
    No retrospectives found
  </div>

  <div ng-show="retrospectives.length">
    <a class="retrospectives_i"
       ng-class="{ __active: !!retrospective.active }"
       ui-sref="retrospectives.view({ id: retrospective._id })"
       ng-repeat="retrospective in retrospectives | filter:{ name: filterQuery }">
      <span class="section">{{ retrospective.team.name }} {{ retrospective.createdAt | date:'mediumDate' }}</span>

      <div class="section">
        <ng-gravatar class="retrospectives_i_img"
                     ng-class="{ __idle: participant.isIdle }"
                     ng-repeat="participant in (retrospective.participants | orderBy:'isIdle') track by $index"
                     email="{{ participant.user.email }}"
                     title="{{ participant.user.fullName }}"
                     size="24"></ng-gravatar>
      </div>
    </a>
  </div>

  <div class="text-center padding-bottom-m padding-top-m" ng-show="!retrospectives.length">
    <button class="btn" ng-click="openStartNewRetrospectiveModal()">Start new retrospective</button>
  </div>
</div>