// Common
// ======
//
// Optionated defaults.

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font-size: 11px;
  line-height: 1.182;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  overflow-y: scroll;
  @include font-smoothing(off);

  &.__white {
    background: white;
  }
}

// Remove text-shadow in selection highlight: h5bp.com/i
// The rest of styles matches ones Chrome has set by default.

::selection {
  background: rgba(#0073ff, 0.8);
  color: #FFF;
  text-shadow: none;
}

label[for] {
  cursor: pointer;
}
