<div class="modal-header">
  <span class="modal-title">{{ isScheduling ? 'Schedule' : 'Start' }} new retrospective</span>
</div>
<div class="modal-body">
  <form class="form" name="StartNewRetrospectiveForm">
    <div class="section_l">
      <label class="form_label">Team</label>
      <select class="txbox" ng-model="retrospective.team" ng-options="team._id as team.name for team in myTeams"></select>
    </div>

    <!-- Questions -->
    <div class="section_l questions">
      <label class="form_label">Questions</label>
      <input class="txbox section" ng-model="question.text" ng-repeat="question in retrospective.questions"/>
      <input class="txbox section" ng-focus="addOption()" placeholder="Add a question"/>
    </div>

    <div class="section_l section">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="isScheduling">
        Start later
      </label>
    </div>

    <div class="section" ng-if="isScheduling">
      <label class="form_label" for="datetime">Date/Time</label>
      <input type="date" class="txbox __inline" id="datetime" ng-model="retrospective.date">
      <input type="time" class="txbox __inline" ng-model="retrospective.time">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" ng-disabled="StartNewRetrospectiveForm.$invalid" ng-click="createRetrospective()">
    {{ isScheduling ? 'Schedule' : 'Start now' }}
  </button>
</div>